
.navbar {
    background-color: #171f5c;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
	letter-spacing: auto;
	text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	background-color: transparent;
	color: #FFF;
	/* highlight color */
	/* underline on hover or active */
	text-decoration: underline;
	text-decoration-color: #378bc7;
	text-decoration-thickness: 2px;
	text-underline-position: under;
	/* change background color on hover or active */
	/*background-color: #f3f3f3;*/
}

.navbar-nav>li>.dropdown-menu {
	background-color: #000;
	border: 0px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}

.navbar-nav>li>.dropdown-menu a {
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #378bc7;
	font-family: "Calluna Sans", verdana, sans-serif;
	text-decoration: none;
}

.navbar-nav>li>.dropdown-menu a:hover {
	background-color: #378bc7;
	color: #000;
	/* highlight color */
	/* background-color on hover */
	/*background-color:#efefef;*/

}

/* header mobile icons navigation */
.navbar-default .navbar-toggle {
	border-color: #000;
	color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #FFF;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #000;
	color: #FFF;
}

@media (min-width: 767px) and (max-width: 1210px) {
	ul.menuItems {
		width: 100%;
		border-top: solid 1px #fff;
	}

	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right: 0px;
	}

	.menuItems.navbar-nav>li>a {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.container.menuBar {
		padding: 0px;
	}

	.navbar>.container .navbar-brand {
		margin-left: 0px;
	}
}

.navbar-default .navbar-toggle {
	border-color: #fff;
	color: #fff;
	padding: 10px;
	line-height: 1em;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle-user {
	padding-bottom: 5px;
	padding-top: 7px;
}


.select2-autocomplete .select2-container {
    width: 100% !important; /* Adjust the width as needed */
}

#userDropdown i {
    font-size: x-large;
    color: black;
}

.group-name {
    font-size: small;
}

.auth-forms-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: rgba(121, 76, 40, 0.02);
}

.toggle-button {
    display: inline-block;
    /* Add any additional styling as needed */
}

.hidden {
    display: none;
}

#mapid { 
	height: 600px; 
}