
.navbar {
    background-color: #1c1b1a;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
	letter-spacing: auto;
	text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	background-color: transparent;
	color: #FFF;
	/* highlight color */
	/* underline on hover or active */
	text-decoration: underline;
	text-decoration-color: #378bc7;
	text-decoration-thickness: 2px;
	text-underline-position: under;
	/* change background color on hover or active */
	/*background-color: #f3f3f3;*/
}

.navbar-nav>li>.dropdown-menu {
	background-color: #000;
	border: 0px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}

.navbar-nav>li>.dropdown-menu a {
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #378bc7;
	font-family: "Calluna Sans", verdana, sans-serif;
	text-decoration: none;
}

.navbar-nav>li>.dropdown-menu a:hover {
	background-color: #378bc7;
	color: #000;
	/* highlight color */
	/* background-color on hover */
	/*background-color:#efefef;*/

}

/* header mobile icons navigation */
.navbar-default .navbar-toggle {
	border-color: #000;
	color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #FFF;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #000;
	color: #FFF;
}

@media (min-width: 767px) and (max-width: 1210px) {
	ul.menuItems {
		width: 100%;
		border-top: solid 1px #fff;
	}

	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right: 0px;
	}

	.menuItems.navbar-nav>li>a {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.container.menuBar {
		padding: 0px;
	}

	.navbar>.container .navbar-brand {
		margin-left: 0px;
	}
}

.navbar-default .navbar-toggle {
	border-color: #fff;
	color: #fff;
	padding: 10px;
	line-height: 1em;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle-user {
	padding-bottom: 5px;
	padding-top: 7px;
}


#userDropdown i {
    font-size: x-large;
    color: black;
}

.group-name {
    font-size: small;
}

.auth-forms-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: rgba(121, 76, 40, 0.02);
}

.toggle-button {
    display: inline-block;
    /* Add any additional styling as needed */
}

.hidden {
    display: none;
}

#mapid { 
	height: 600px; 
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.btn-circle {
    width: 25px;
    height: 25px;
    padding: 0px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
    border: none;
}

.thumbnail-container {
	position: relative;
	min-width: 250px;
	max-width: 250px;
	height: auto;
	overflow: hidden;
}

.img-thumbnail {
	cursor: pointer;
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.zoom-in {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex; 
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.25s ease; 
	pointer-events: none;
}

.zoom-overlay {
    color: white; 
}

.thumbnail-container:hover .zoom-in {
    opacity: 1;
}

.auth-forms-container {
	padding: 2rem;
	border-radius: 8px;
	background-color: #fff; 
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection {
	height: 40px !important;
}

.select2-autocomplete .select2-container {
    width: 100% !important; /* Adjust the width as needed */
}

.select2-selection__rendered {
	width: 100%!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	padding-left: 5px!important;
	padding-right: 0px!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    float: right !important;
	position: relative;
	border-right: 0px!important;
	border-left: 1px solid #aaa;
	margin-left: 4px;
}

@media (max-width: 769px) {
    .row .col-md-6 {
        width: 100%;
    }
}

/* .form-label {
    display: block;
    margin-bottom: 0.5rem;
} */

.django-ckeditor-widget {
    min-height: 200px;
	width: 100% !important;
}

.thumbnail-card {
	width: 18rem;
}

.page-title {
	padding-bottom: 1rem;
}


.info-section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 8px;
}

.info-lead {
    font-size: 1.1em; /* Slightly larger text for better readability */
    color: #333; /* Darker text for better contrast */
    line-height: 1.6; /* Increased line height for easier reading */
}

.user-section {
    background-color: #e9ecef;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
}

.user-info {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

.project-info {
    font-size: 0.95em;
    color: #444;
}

.project-info strong {
    color: #000;
}

.rights-icon {
	width: 88px; 
	height: auto; 
	margin-right: 20px;
}

.upload-buttons {
	padding-bottom: 20px;
}

.dropzone {
	border: none;
	padding: 0;
}

.dropzone .dz-message {
	margin: 0px;
	padding: 2em 0;
	border: #aaa 1px solid;
	border-radius: 4px;
}

/* 
.card-img-top-container {
    cursor: pointer;
    width: 100%;
    padding-top: 75%;
    position: relative;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    border: 2px solid transparent;
}

.card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.collected-hero-background {
    background-image: url('https://ifrepo.world/themes/imagining/assets/pawtucket/graphics/hero_1.webp'); /* Add your image path here */
    background-size: cover;
    background-position: center;
    position: relative;
}

.collected-hero-background::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity to get desired darkness */
    z-index: 1;
}

.text-secondary {
    position: relative;
    z-index: 2; /* Ensures text appears above the dark overlay */
}

.hero-text-container {
    position: relative;
    z-index: 3; /* Higher z-index to ensure visibility above overlay */
}

.hero-text-container h1, .hero-text-container h2 {
	font-family: 'Merriweather', serif;
}

.hero-text-container p {
	font-family: 'Open Sans', sans-serif;
}

.hero-text-container .hero-description {
	font-style: italic;
	padding-top: 20px;
}

.article-content {
	font-family: 'Open Sans', sans-serif;
	max-width: 800px;
	padding: 60px 0;
	margin: auto;
	line-height: 1.8;
	font-size: 18px;
	color: #333;
	background-color: #fff;
}

.article-content h1, .article-content h2, .article-content h3 {
	font-family: 'Merriweather', serif;
    color: #2c3e50;
    margin-top: 20px;
	margin-bottom: 15px;
}

.article-content p {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .article-content {
        padding: 10px;
        font-size: 16px;
    }
}

.article-header a {
	text-decoration: none;
}

.article-header .authors-block {
	font-style: italic;
	color: #6c757d;
	padding: 15px 0;
}

.article-html-content figure {
	width: 100%;
	display: block;
	margin: auto;
}

.article-html-content img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.float{
    position: fixed;
    width: 40px;
    height: 40px;
    top: 93px;
    left: 19px;
    background-color: rgb(29, 31, 30);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}


.my-float{
	margin-top:12px;
}

.article-details {
	border: none;
	box-shadow: none;
	padding-top: 250px;
}

@media (max-width: 767px) {
	.article-details {
		padding-top: 20px;
	}
}

.read-button {
	position: relative;
	display: flex;
	justify-content: right;
}