.env
appslogs/apps.log
appslogs/general.log
__pycache__
media/*
!media/uploads
media/uploads/*
!media/uploads/index.txt
!media/thumbnails
media/thumbnails/*
!media/thumbnails/index.txt
!media/images
media/uploads/*
!media/images/index.txt
staticfiles/*
!staticfiles/ifcollectors
0*.py
*.log
t.py
