{% extends 'main.html' %} {% load static %} {% block content %}

<div class="container">
    <a href="{% if next_url %} {{ next_url }} {% else %}{% url 'article_list' %} {% endif %}" class="float" data-bs-toggle="tooltip" data-bs-placement="right" title="Back to articles list">
        <i class="fas fa-angle-double-left my-float"></i>
      </a>
  <div class="row">
    <!-- Left Column: PDF Viewer and Abstract -->
    <div class="col-md-9">
      <div class="card mb-4 border-0">
        <div class="card-body">
          <div class="article-header">
            <h2 class="card-title">{{ article.title }}</h2>

            <div class="authors-block">
                {% for author in ordered_authors %}{{ author }}{% if not forloop.last %}, {% endif %}{% endfor %}
            </div>

            <p>
              <strong>
                {% for project in article.projects.all %}
                <a href="{{ project.ifrepourl }}">{{ project.name }}</a>
                {% endfor %}
              </strong>
            </p>
          </div>
          <div class="read-button">
                <a href="{% url 'article_detail_html' article.pk %}" class="btn btn-dark active" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Optimized for mobile and smaller devices">Read Online</a>
          </div>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <iframe src="{% static 'vendor/pdfjs/web/viewer.html' %}?file={{ article.filePDF.url|urlencode }}" width="100%" height="800px" style="border: none" scrolling="no">
        </iframe>
      </div>
    </div>

    <!-- Right Column: Article Details -->
    <div class="col-md-3">
      <div class="card mb-4 article-details">
        <div class="card-body">
          <h5 class="card-title">Details</h5>

          <p>
            <strong>Handle URL:</strong> <br /><a
              href="{{ article.handle_url }}"
              >{{ article.handle_url }}</a
            >
          </p>
          <p>
            <strong>Access:</strong> <br /><a
              href="{{ article.rights.canonical_url }}"
              target="_blank"
              ><img
                src="{{ article.rights.icon_url }}"
                alt="{{ article.rights.license_abreviation }} Icon"
                class="rights-icon"
            /></a>
          </p>
          <p>
            <strong>Date of Publication:</strong><br />
            {{ article.created_at }}
          </p>
          {% comment %} {% if article.created_at != article.updated_at %}
          <p>
            <strong>Date of Update:</strong><br />
            {{ article.updated_at }}
          </p>
          {% endif %} {% endcomment %}
          <p>
            <strong>Keywords:</strong><br />
            {% for keyword in article.keywords.all %} {{ keyword.keyword }}{% if not forloop.last %}, {% endif %} {% endfor %}
          </p>

          <h5 class="card-title">Citation</h5>
          <p>
            <label for="citation-style">Choose a citation style:</label>
            <select id="citation-style">
              <option value="apa">APA 7</option>
              <option value="mla">MLA</option>
              <option value="chicago">Chicago</option>
            </select>
            <button class="icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to clipboard">
                <i class="far fa-copy"></i>
            </button>
            <div id="success-message">Citation copied!</div>                      
          </p>
          <p id="citation-output"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const copyButton = document.querySelector(".icon-button");
        const citationOutput = document.getElementById("citation-output");
        const message = document.getElementById("success-message");
    
        if (copyButton) {
            copyButton.addEventListener('click', function() {
                const range = document.createRange();
                const selection = window.getSelection();
                range.selectNodeContents(citationOutput);
                selection.removeAllRanges();
                selection.addRange(range);
                navigator.clipboard.writeText(selection.toString()).then(function() {
                    message.textContent = 'Citation copied!';
                    message.style.display = 'block';
                    setTimeout(() => { message.style.display = 'none'; }, 3000);
                }, function(err) {
                    message.textContent = 'Failed to copy';
                    message.style.display = 'block';
                    setTimeout(() => { message.style.display = 'none'; }, 3000);
                    console.error('Could not copy text: ', err);
                });
                selection.removeAllRanges();
            });
        } else {
            console.error('Copy button not found');
        }
    });
    
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const citationOutput = document.getElementById("citation-output");
        const citationStyle = document.getElementById("citation-style");
      
        function generateCitation() {
          const style = citationStyle.value;
          const title = "{{ article.title }}";
          const authors = `{% for author in article.authors.all %}{{ author.full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}`;
          const publicationName = `Imagining Futures Collected Works. Un/Archival Conversations and Practices`
          const publicationDate = "{{ article.created_at|date:'Y' }}";
          const handleURL = "{{ article.handle_url }}";
      
          // Function to reshape author names for citation styles
          function formatAuthors(authors, style) {
            const authorsArray = authors.split(", ").map(name => {
                const parts = name.trim().split(" ");
                const lastName = parts.pop();
                const firstName = parts.join(" ");
                return { lastName, firstName };
            }).sort((a, b) => a.lastName.localeCompare(b.lastName));
        
            switch(style) {
                case "apa":
                    return authorsArray
                        .map(a => `${a.lastName}, ${a.firstName.charAt(0)}.`)
                        .join(", ")
                        .replace(/,([^,]*,[^,]*)$/, ' &$1');
                case "mla":
                    if (authorsArray.length === 1) {
                        return `${authorsArray[0].lastName}, ${authorsArray[0].firstName}`;
                    } else if (authorsArray.length === 2) {
                        return `${authorsArray[0].lastName}, ${authorsArray[0].firstName} and ${authorsArray[1].lastName}, ${authorsArray[1].firstName}`;
                    } else {
                        return `${authorsArray[0].lastName}, ${authorsArray[0].firstName}, et al.`;
                    }
                case "chicago":
                    if (authorsArray.length <= 10) {
                        const lastAuthor = authorsArray.pop();
                        return `${authorsArray.map(a => `${a.lastName}, ${a.firstName}`).join(", ")}, and ${lastAuthor.lastName}, ${lastAuthor.firstName}`;
                    } else {
                        return `${authorsArray.slice(0, 7).map(a => `${a.lastName}, ${a.firstName}`).join(", ")}, et al.`;
                    }
            }
        }
        
      
          let citation = "";
      
          if (style === "apa") {
            citation = `${formatAuthors(authors, 'apa')} (${publicationDate}). ${title}. In E. Isayev, A. O'Leary McNeice, J. A. Melo Flórez & O. Uğur (Eds), <i>${publicationName}</i>. Retrieved from ${handleURL}`;
          } else if (style === "mla") {
            citation = `${formatAuthors(authors, 'mla')}. "${title}." <i>${publicationName}</i>, edited by Elena Isayev et al., ${publicationDate}, ${handleURL}.`;
          } else if (style === "chicago") {
            citation = `${formatAuthors(authors, 'chicago')}. "${title}." Essay. In <i>${publicationName}</i>, edited by Elena Isayev, Aoife O'Leary McNeice, Jairo A. Melo F., and Orhun Uğur. ${publicationDate}. ${handleURL}.`;
          }
      
          citationOutput.innerHTML = citation;
        }
      
        citationStyle.addEventListener("change", generateCitation);
        generateCitation();

    });

</script>




{% endblock %}
