{% extends 'main.html' %} {% load static %} {% block content %}

<article>
  <a href="{% if next_url %} {{ next_url }} {% else %}{% url 'article_detail' article.pk %} {% endif %}" class="float" data-toggle="tooltip" data-placement="right" title="Back to the article details">
    <i class="fas fa-angle-double-left my-float"></i>
  </a>
  <div class="container">
    <div class="article-content">
      <div class="article-header">
        <h1>{{ article.title }}</h1>

        <div class="authors-block">
            {% for author in ordered_authors %}{{ author }}{% if not forloop.last %}, {% endif %}{% endfor %}
        </div>
        <p>
          <strong>
            {% for project in article.projects.all %}
            <a href="{{ project.ifrepourl }}">{{ project.name }}</a>
            {% endfor %}
          </strong>
        </p>
      </div>
      <hr />
      <div class="row">
        <div class="col-12 article-html-content">
          {{ article.contentHTML|safe }}
        </div>
      </div>
    </div>
    <!-- End of article-content -->
  </div>
</article>

<script>
  window.hypothesisConfig = function () {
    return {
      showHighlights: true,
      appType: "via",
    };
  };
</script>
<script async src="https://hypothes.is/embed.js"></script>

{% endblock %}
