{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <!-- Left Column: PDF Viewer and Abstract -->
        <div class="col-md-9">
            <div class="card mb-4 border-0">
                <div class="card-body">
                    <h2 class="card-title">{{ article.title }}</h2>
                    {% comment %} <p class="card-text">{{ article.abstract  | safe }}</p> {% endcomment %}
                    {% comment %} uncomment the line above if you want to include the abstract on this view {% endcomment %}

                        {% for author in article.authors.all %}
                            {{ author.full_name }},
                        {% endfor %}

                    <p><strong>
                        
                        {% for project in article.projects.all %}
                            <a href="{{ project.ifrepourl }}">{{ project.name }}</a>
                        {% endfor %}
                    </strong></p>

                </div>
            </div>

            <div class="card mb-4 shadow-sm">
                <iframe src="{% static 'vendor/pdfjs/web/viewer.html' %}?file={{ article.filePDF.url|urlencode }}" 
                        width="100%" 
                        height="800px" 
                        style="border: none;", scrolling="no">
                </iframe>
            </div>
        </div>

        <!-- Right Column: Article Details -->
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Details</h5>
                    
                    <p><strong>Handle URL:</strong> <a href="{{ article.handle_url }}">{{ article.handle_url }}</a></p>
                    <p><strong>Access:</strong> {{ article.rights.name }}</p>
                    <p><strong>Date of Publication:</strong> {{ article.created_at }}</p>
                    {% if article.created_at != article.updated_at %}
                        <p><strong>Date of Update:</strong> {{ article.updated_at }}</p>
                    {% endif %}
                    <p><strong>Keywords:</strong></p>
                    <ul>
                        {% for keyword in article.keywords.all %}
                            <li>{{ keyword.keyword }}</li>
                        {% endfor %}
                    </ul>

                    <h5 class="card-title">Citation</h5>
                    <p>
                        <label for="citation-style">Choose a citation style:</label>
                        <select id="citation-style">
                            <option value="apa">APA 7</option>
                            <option value="mla">MLA</option>
                            <option value="chicago">Chicago</option>
                        </select>
                    </p>
                    <p id="citation-output"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {

    // Citation generation
    const citationOutput = document.getElementById('citation-output');
    const citationStyle = document.getElementById('citation-style');

    function generateCitation() {
        const style = citationStyle.value;
        const title = "{{ article.title }}";
        const authors = `{% for author in article.authors.all %}{{ author.full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}`;
        const publicationDate = "{{ article.created_at|date:'Y' }}";
        const handleURL = "{{ article.handle_url }}";
        
        let citation = '';

        if (style === 'apa') {
            citation = `${authors} (${publicationDate}). ${title}. Retrieved from ${handleURL}`;
        } else if (style === 'mla') {
            citation = `${authors}. "${title}." ${publicationDate}, ${handleURL}.`;
        } else if (style === 'chicago') {
            citation = `${authors}. ${publicationDate}. "${title}." Accessed ${publicationDate}. ${handleURL}.`;
        }

        citationOutput.innerText = citation;
    }

    citationStyle.addEventListener('change', generateCitation);
    generateCitation();
});
</script>


{% endblock %}
