<!-- View to update the projects information -->
{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}
{% block content %}
{% load i18n %}
{% csrf_token %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow auth-forms-container">
    <h2 class="mb-4">User Details</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include '_form_errors.html' %}

        {% csrf_token %}
        {% if create_participant.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in create_participant.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {{ form.full_name }}
        {{ form.email }}
        {{ form.project_role }}
            
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</div>

{% include '_cancel_warning.html' %}

{{ form.media }}


{% endblock content %}