{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}
{% block content %}

<div class="container mt-4">

    {% if user.is_authenticated %}

    {% if perms.CA_Django_connector.edit_project %}
    <!-- Dashboard Link Card -->
    <div class="mb-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Go to Dashboard</h5>
                <p class="card-text">Access your projects and start managing your exhibits.</p>
                <a href="{% url 'project_dashboard' %}" class="btn btn-primary">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </div>
        </div>
    </div>
    {% endif %}


{% comment %}     <section class="jumbotron text-center">
        <h1 class="display-4">IF Projects Toolbox <span class="text-muted">(α)</span></h1>
        <p class="lead">Exhibits</p>
        <hr class="my-4">
        <div class="row">
            {% for exhibit in exhibits %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if exhibit.thumbnail %}
                        <img src="{{ exhibit.thumbnail.url }}" class="card-img-top" alt="{{ exhibit.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ exhibit.title }}</h5>
                            <p class="card-text">{{ exhibit.description }}</p>
                            <a href="exhibits/{{ exhibit.slug }}" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </section> {% endcomment %}
    {% else %}

    <div class="container mt-4">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to Imagining Futures Projects Manager!</h1>
            <p class="lead">This is an experimental tool currently in development for managing the information associated with your projects.</p>
            <hr class="my-4">
            <p>To access your projects, please log in with your email and password. If you don’t have an account or have forgotten your password, <a href="{% url 'password_reset' %}">just reset it</a>.</p>
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Log In</a>
        </div>
    </div>
    
{% endif %}

</div>


{% endblock content %}
