{% extends 'main.html' %}
{% load django_bootstrap5 django_bootstrap_input_group static %}
{% block content %}

<div class="container mt-4">
    <!-- Hero Section -->
    <div class="jumbotron text-center">
        <h1 class="display-4">IF Collectors Toolbox</h1>
        <p class="lead">This is a platform to manage your data</p>
        <hr class="my-4">
        <p></p>
        {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="#" role="button">Iniciar</a>
        {% else  %}
        <p>You need to be registered to use this application</p>
        {% endif %}
    </div>

</div>

{% endblock content %}
