{% load static %}

<nav class="navbar navbar-expand-lg navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}" style='color: white;'>    
            <img src="{% static 'ifcollectors/media/iflogo.png' %}" alt="" width="auto" height="50">
            IMAGINING FUTURES
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-right ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="https://ifrepo.world">repository</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProjects" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        projects
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownProjects">
                        <!-- Original Projects Link -->
                        <li><a class="dropdown-item" href="https://ifrepo.world/Browse/collections">Projects Overview</a></li>
                        <!-- Link to Project Manager Dashboard -->
                        <li><a class="dropdown-item" href="{% url 'project_dashboard' %}">Project Manager Dashboard</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://ifrepo.world/Browse/participants">participants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://ifrepo.world/Browse/objects">resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://imaginingfutures.world/imagining-futures-overview/">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://ifrepo.world/CollectedWorks/Index">collected works</a>
                </li>
            </ul>

            <form class="d-flex">
              <div class="input-group mb-2">
                <input type="search" class="form-control ms-2" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark" type="submit" id="button-addon2" aria-label="Search button"><i class="fas fa-search"></i></button>
              </div>
            </form>
        
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-user-alt" style='color: white;'></i> {{ user.get_username }}
                  </a>
                  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="userDropdown">
                    {% if request.user.is_superuser %}
                        <li class='nav-item'>
                            <a class='nav-link' href="{% url 'admin:index' %}" target="_blank">Collectors admin</a>
                        </li>
                    {% elif request.user.is_staff %}
                    <li class='nav-item'>
                        <a class='nav-link' href="{% url 'admin:index' %}" target="_blank">Volume B administration</a>
                    </li>
                    {% endif %}
                      {% if user.is_authenticated %}
                          <li class='nav-item'>
                              <a class='nav-link' href="{% url 'logout' %}?next={{ request.path }}">Log Out</a>
                          </li>
                      {% else %}
                          <li class='nav-item'>
                              <a class='nav-link' href="{% url 'login' %}?next={{ request.path }}">Log In</a>
                          </li>
                          <li class='nav-item'>
                              <a class='nav-link' href="{% url 'register' %}?next={{ request.path }}">Register</a>
                          </li>
                      {% endif %}
                  </ul>
              </li>
          </ul>
          
      </div>
  </div>
</nav>